<a href="https://colab.research.google.com/github/monicasjsu/deep_learning/blob/master/keras_boolean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, f1_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import  train_test_split
from keras.models import Model, load_model
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras import regularizers
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense,Dropout, Flatten
from keras.optimizers import Adam,sgd
from sklearn.metrics import mean_absolute_error
from keras import layers, metrics
import keras
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import  train_test_split

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv("/content/drive/My Drive/Datasets/dl_2/creditcard.csv")

In [21]:
df.head(3)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0

[3 rows x 31 columns]

In [22]:
df.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [0]:
from sklearn.preprocessing import RobustScaler
robust_scaler = RobustScaler()
df['scaled_amount'] = robust_scaler.fit_transform(df['Amount'].values.reshape(-1,1))
df['scaled_time'] = robust_scaler.fit_transform(df['Time'].values.reshape(-1,1))

In [25]:
df

            Time         V1         V2  ...  Class  scaled_amount  scaled_time
0            0.0  -1.359807  -0.072781  ...      0       1.783274    -0.994983
1            0.0   1.191857   0.266151  ...      0      -0.269825    -0.994983
2            1.0  -1.358354  -1.340163  ...      0       4.983721    -0.994972
3            1.0  -0.966272  -0.185226  ...      0       1.418291    -0.994972
4            2.0  -1.158233   0.877737  ...      0       0.670579    -0.994960
...          ...        ...        ...  ...    ...            ...          ...
284802  172786.0 -11.881118  10.071785  ...      0      -0.296653     1.034951
284803  172787.0  -0.732789  -0.055080  ...      0       0.038986     1.034963
284804  172788.0   1.919565  -0.301254  ...      0       0.641096     1.034975
284805  172788.0  -0.240440   0.530483  ...      0      -0.167680     1.034975
284806  172792.0  -0.533413  -0.189733  ...      0       2.724796     1.035022

[284807 rows x 33 columns]

In [0]:
df.drop(['Time','Amount'], axis=1, inplace=True)

In [27]:
df

               V1         V2        V3  ...  Class  scaled_amount  scaled_time
0       -1.359807  -0.072781  2.536347  ...      0       1.783274    -0.994983
1        1.191857   0.266151  0.166480  ...      0      -0.269825    -0.994983
2       -1.358354  -1.340163  1.773209  ...      0       4.983721    -0.994972
3       -0.966272  -0.185226  1.792993  ...      0       1.418291    -0.994972
4       -1.158233   0.877737  1.548718  ...      0       0.670579    -0.994960
...           ...        ...       ...  ...    ...            ...          ...
284802 -11.881118  10.071785 -9.834783  ...      0      -0.296653     1.034951
284803  -0.732789  -0.055080  2.035030  ...      0       0.038986     1.034963
284804   1.919565  -0.301254 -3.249640  ...      0       0.641096     1.034975
284805  -0.240440   0.530483  0.702510  ...      0      -0.167680     1.034975
284806  -0.533413  -0.189733  0.703337  ...      0       2.724796     1.035022

[284807 rows x 31 columns]

In [0]:
output = df['Class']
input = df.drop(columns=['Class'])

In [29]:
x_train,x_test,y_train,y_test = train_test_split(input,output,test_size=0.2,random_state=0)
x_train.shape

(227845, 30)

In [0]:
def boolean(X_train,X_test,y_train,y_test):
    model = Sequential()
    model.add(Dense(300, activation="relu",input_shape=(30,)))
    model.add(Dropout(0.3))
    model.add(Dense(10, activation="relu"))
    model.add(Dropout(0.2))
    model.add(Dense(3, activation="relu"))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer=sgd(), metrics=['accuracy'])
    model.fit(x_train, y_train, epochs=10)
    a = model.evaluate(x_test, y_test)
    return a

In [31]:
boolean(x_train,x_test,y_train,y_test)

Epoch 1/10
227845/227845 [==============================] - 11s 49us/step - loss: 0.0205 - accuracy: 0.9983
Epoch 2/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0061 - accuracy: 0.9983
Epoch 3/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0055 - accuracy: 0.9983
Epoch 4/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0051 - accuracy: 0.9983
Epoch 5/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0048 - accuracy: 0.9983
Epoch 6/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0048 - accuracy: 0.9983
Epoch 7/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0045 - accuracy: 0.9983
Epoch 8/10
227845/227845 [==============================] - 11s 48us/step - loss: 0.0045 - accuracy: 0.9983
Epoch 9/10
227845/227845 [==============================] - 11s 49us/step - loss: 0.0044 - accuracy: 0.9983
Epoch 10/10
227845/227845 [==============================] - 11s 50us/step - loss: 0.0042 - accuracy: 0.9983
56962/56962 [==============================] - 1s 21us/step

[0.0037517358603201454, 0.9982268810272217]